TZ=Asia/Jakarta
USERID=www-data
GROUPID=www-data
COMPOSE_PROJECT_NAME=codebase
COMPOSE_PROJECT_ENV=production
DATABASE_NAME=base
DATABASE_USERNAME=user
DATABASE_EMAIL=user@email.com

SERVER_FRONTEND_PORT=80
SERVER_FRONTEND_SECURE_PORT=443
SERVER_BACKEND_PORT=8000
SERVER_BACKEND_SECURE_PORT=4433
MEMORY_PORT=63710
DATABASE_MSSQL_PORT=1434
DATABASE_MYSQL_PORT=3307
DATABASE_POSTGRESQL_PORT=5433
DATABASE_MONGONOSQL_PORT=27018

MEMORY_COMMANDER_PORT=63711
DATABASE_MSSQL_ADMINER_PORT=1435
DATABASE_MYSQL_PHPMYADMIN_PORT=3308
DATABASE_POSTGRESQL_PGADMIN_PORT=5434
