version: "3"

secrets:

  monitor_grafana:

    file: .secret/monitor_grafana

volumes:

  monitor:

services:

  monitor_grafana:

    image: grafana/grafana:10.2.4

    volumes:

      - monitor:/var/lib/grafana
      - ./storage/_monitor/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./storage/_monitor/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards

    ports:

      - 3000:3000

    restart: always

    environment:

      TZ: ${TZ}

      GF_USERS_ALLOW_SIGN_UP: "false"
      GF_SECURITY_ADMIN_USER: ${DATABASE_USERNAME}
      GF_SECURITY_ADMIN_PASSWORD__FILE: /run/secrets/monitor_grafana
      GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH: /etc/grafana/provisioning/dashboards/node.json

    secrets:

      - monitor_grafana

    depends_on:

      - monitor_prometheus
      - monitor_loki
