version: "3"

volumes:

  monitor_node:

services:

  monitor_exporter_log:

    image: grafana/promtail:main-00d3c7a

    volumes:

      - ./storage/_monitor/promtail/promtail.yml:/etc/promtail/docker-config.yml
      - ./storage/log/:/var/log/

    restart: always

    environment:

      TZ: ${TZ}

    command: -config.file=/etc/promtail/docker-config.yml

    depends_on:

      - monitor_loki

  monitor_exporter_node:

    image: prom/node-exporter:v1.7.0

    volumes:

      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro

    ports:

      - 9100:9100

    restart: always

    environment:

      TZ: ${TZ}

    command:

      - "--path.procfs=/host/proc"
      - "--path.rootfs=/rootfs"
      - "--path.sysfs=/host/sys"
      - "--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)"

  monitor_loki:

    image: grafana/loki:main-00d3c7a

    restart: always

    ports:

      - 3100:3100

    environment:

      TZ: ${TZ}

    command: -config.file=/etc/loki/local-config.yaml

  monitor_prometheus:

    image: prom/prometheus:v2.50.0

    volumes:

      - monitor_node:/prometheus
      - ./storage/_monitor/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

    ports:

      - 9090:9090

    restart: always

    environment:

      TZ: ${TZ}

    command:

      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/etc/prometheus/console_libraries"
      - "--web.console.templates=/etc/prometheus/consoles"
      - "--web.enable-lifecycle"

    depends_on:

      - monitor_exporter_node
